

.first{
    background-color: red;
    width: 500px;
    height: 700px;
    float: left;
    margin-left: 10px;
    
}
.second{
    background-color: green;
    width: 600px;
    height: 250px;
    float: left;
    margin-left: 100px;
    margin-top: 50px;
    
}
.third{
    background-color: green;
    width: 600px;
    height: 250px;
    margin-top: 70px;
    margin-left: 100px;
    float:left;
}